<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        table {
            {#width: 100%;#}
        }
        td {
            text-align: left;
            vertical-align: top;
            font-weight: normal;
            border-width: 1px;
            border-style: solid;
            border-color: black;
            padding: 15px;
        }

        #upload {
            display: none;
        }
    </style>
</head>
<body>
    <table border="1">
        <tr>
            <td>
                {% include "_nav_urls.html" %}
                <hr>
                <form action="{% url 'search' %}">
                    <input type="text" name="query">
                    <input type="submit" value="Submit">
                </form>
            </td>
            <td>
                {% if messages %}
                    <ul class="messages", style="background: yellow; ">
                    {% for message in messages %}
                    <li style="list-style: none" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                    </ul>
                {% endif %}

                {% block content %}{% endblock %}
            </td>
        </tr>
    </table>
</body>

<script>
    function open_file_dialog(event) {
        event.preventDefault();
        document.getElementById('upload').click()
    }

    function choose_file(event) {
        let files = event.target.files;
        let csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        let xhr = new XMLHttpRequest();
        let formData = new FormData();

        xhr.open("POST", "{% url 'file-upload' %}", true);
        formData.set('csrfmiddlewaretoken', csrf_token)
        for(let file in files) {
            formData.append('files', files[file]);
        }
        xhr.onload = function () {
          window.location.href = xhr.responseURL;
        };
        xhr.send(formData);
    }

    document.getElementById('file-upload').addEventListener(
        'click', open_file_dialog, false
    );
    document.getElementById('upload').addEventListener(
        'change', choose_file, false
    );
</script>

</html>
