{% load static %}
{% load i18n %}

{% url 'index' as booklist_url %}
{% url 'author-list' as authorlist_url %}
{% url 'tag-list' as taglist_url %}
{% url 'publisher-list' as publisherlist_url %}
{% url 'series-list' as serieslist_url %}
{% url 'statistic' as statistic_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/candle.css' %}" rel="stylesheet">
</head>

<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="{% url 'index' %}">Candle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-2">
            <li class="nav-item">
                <a class="nav-link {% if request.path == booklist_url %} active {% endif %}" href="{% url 'index' %}">{% trans 'Books' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == authorlist_url %} active {% endif %}"
                   href="{% url 'author-list' %}">{% trans "Authors" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == taglist_url %} active {% endif %}" href="{% url 'tag-list' %}">{% trans "Tags" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == serieslist_url %} active {% endif %}"
                   href="{% url 'series-list' %}">{% trans "Series" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == publisherlist_url %} active {% endif %}"
                   href="{% url 'publisher-list' %}">{% trans "Publishers" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == statistic_url %} active {% endif %}"
                   href="{% url 'statistic' %}">{% trans "Statistic" %}</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="{% trans "Search" %}" aria-label="Search" name="query"
                   list="search-commands">
            <datalist id="search-commands">
                <option value="author: ">
                <option value="tag: ">
                <option value="series: ">
                <option value="publisher: ">
            </datalist>
            <button class="btn btn-outline-success my-2 my-sm-0" name="submit" type="submit">{% trans "Search" %}</button>
        </form>
        <ul class="navbar-nav ml-auto" id="navbarResponsive">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">{% blocktrans %}Admin panel{% endblocktrans %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <form method="post" enctype="multipart/form-data" action="{% url 'file-upload' %}">
                        {% csrf_token %}
                        <a class="btn btn-primary" id="file-upload-chooser">{% blocktrans %}Upload file{% endblocktrans %}</a>
                        <input name="files" id="file-upload-input" type="file" multiple/>
                        <button name='submit' id="file-upload-submit"></button>
                    </form>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {% trans "Add" %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'author-create' %}">{% blocktrans %}Add author{% endblocktrans %}</a>
                        <a class="dropdown-item" href="{% url 'tag-create' %}">{% blocktrans %}Add tag{% endblocktrans %}</a>
                        <a class="dropdown-item" href="{% url 'series-create' %}">{% blocktrans %}Add book seres{% endblocktrans %}</a>
                        <a class="dropdown-item" href="{% url 'publisher-create' %}">{% blocktrans %}Add publisher{% endblocktrans %}</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'auth:logout' %}">{% trans "Logout" %}</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth:login' %}">{% trans "Login" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth:registration' %}">{% trans "Registration" %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">

    {% if messages %}
        <div class="messages" style="background: yellow; ">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% block content %}{% endblock %}
</div>
</body>

<script>
    document.getElementById('file-upload-input').addEventListener(
        'change', function () {
            document.getElementById('file-upload-submit').click();
        }, false
    );
    document.getElementById('file-upload-chooser').onclick = function (event) {
        event.preventDefault()
        document.getElementById('file-upload-input').click()
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.js"></script>

</html>
