{% block booklist %}
    <div class="book-list">
    {% for book in object_list %}
        <div class="book" id="{{ book.id}}">
            <a href="{% url 'book_page' book.id %}">{{ book.title }}</a>
            <p>Author:
                {% for author in book.authors.all %}
                    {{  author.name }}
                {% endfor %}
            </p>
            <p>Pub date: {{ book.publicated_at }}</p>
            <p>Rating: {{ book.rating  }}</p>
        <hr>
        </div>
    {% endfor %}
    </div>
{% endblock %}
