{% block nav_menu %}
<nav style="display: block">
    <ul>
        <li style="list-style: none"><a href="{% url 'index' %}">Book list</a></li>
        <li style="list-style: none"><a href="{% url 'author-list' %}">Author list</a></li>
        <li style="list-style: none"><a href="{% url 'tag-list' %}">Tag List</a></li>
        <li style="list-style: none"><a href="{% url 'series-list' %}">Series List</a></li>
        <li style="list-style: none"><a href="{% url 'publisher-list' %}">Publisher list</a></li>

        {% if user.is_authenticated %}
            <p>Hello, <b>{{ user.username }}</b></p>
            <li style="list-style: none"><a href="{% url 'auth:logout' %}">Logout</a></li>
            {% if user.is_superuser %}
                <li style="list-style: none"><a href="{% url 'admin:index' %}">Admin panel</a></li>
            {% endif %}
            <hr>
                <li style="list-style: none">
                    {% csrf_token %}
                    <input name="files" id="upload" type="file" multiple/>
                    <button id="file-upload">Upload Book</button>
                </li>
            <hr>
        {% else %}
            <li style="list-style: none"><a href="{% url 'auth:login' %}">Login</a></li>
            <li style="list-style: none"><a href="{% url 'auth:registration' %}">Registration</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
