{% load filters %}

<div class="pt-3">
    {% for tag in tags %}
        <div class="author row">
            <div class="col-xs-2 col-sm-2 col-md-1">
                <span class="badge">{{ tag.books.count }}</span>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-11">
                {% if query_string %}
                    <a href="{% url 'tag-detail' tag.id %}">{{ tag.name | highlight_search:query_string }}</a>
                {% else %}
                    <a href="{% url 'tag-detail' tag.id %}">{{ tag.name }}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>