{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="book-info">
        <h3>{% trans "Book" %} "{{ book.title }}"</h3>
        <div class="mb-2">
            {% if book.has_cover %}
                <img class="img-thumbnail" src="{% url 'book-cover' book.id %}" width="150">
            {% else %}
                <img class="img-thumbnail" src="{% static 'img/default-cover.jpg' %}" width="150">
            {% endif %}
        </div>
        <a class="btn btn-primary" href="{% url 'book-edit' book.pk %}">{% trans "Edit" %}</a>
        <a class="btn btn-warning" href="{% url 'book-delete' book.pk %}">{% trans "Remove" %}</a>
        <table>
            <tr>
                <td><b>{% trans "Description:" %}</b></td>
                <td><p>{{ book.description }}</p></td>
            </tr>
            <tr>
                <td><b>{% trans "Tags:" %}</b></td>
                <td>
                    {% for tag in book.tags.all %}
                        <a href="{% url 'tag-detail' tag.id %}">{{ tag.name }}</a>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><b>{% trans "Series:" %}</b></td>
                <td>
                    {% if book.series %}
                        <a href="{% url 'series-detail' book.series.id %}">{{ book.series.title }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><b>{% trans "Publisher:" %}</b></td>
                <td>
                    {% if book.publisher %}
                        <a href="{% url 'publisher-detail' book.publisher.id %}">{{ book.publisher.name }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><b>{% blocktrans %}Published at:{% endblocktrans %}</b></td>
                <td>
                    {% if book.published_at %}
                        <p>{{ book.published_at }}</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><b>{% trans "Files:" %}</b></td>
                <td>
                    {% for file in book.files.all %}
                        <p>{% trans "Download" %}<a href="{% url 'file-download' file.id %}"> {{ file.extension }}</a></p>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
