{% extends "_base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h3>{% blocktrans %}Edit book "{{ title }}"{% endblocktrans %}</h3>

    {% if book.has_cover %}
        <img class="img-thumbnail" src="{% url 'book-cover' book.id %}" width="150">
    {% else %}
        <img class="img-thumbnail" src="{% static 'img/default-cover.jpg' %}" width="150">
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        {% if book.files %}

            {% for file in book.files.all %}
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"><a class="btn btn-danger"
                                                   href="{% url 'file-delete' file.id %}">{% trans "Remove" %}</a></li>
                    <li class="list-group-item"><span class="pr-2">{{ file.extension }}</span></li>
                </ul>
            {% endfor %}
        {% endif %}
        <input class="btn btn-primary mt-2" type="submit" value="Submit">
    </form>

{% endblock %}

