{% extends "_base.html" %}

{% block content %}
    <div class="publisher-info">
        <h3>Publisher "{{ publisher.name }}"</h3>
        {% if publisher.link %}
            <a href="{{ publisher.link }}">Link</a>
        {% endif %}
    </div>

    <a class="btn btn-primary" href="{% url 'author-edit' publisher.id %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'author-delete' publisher.id %}">Delete</a>

    {% with books=page_obj %}
        {% include "_book_list.html" %}
        {% include '_pagination.html' %}
    {% endwith %}
{% endblock %}
