{% extends "_base.html" %}
{% load i18n %}

{% load filters %}

{% block content %}
    <div>
        <h3>{% blocktrans %}Result for search of {% endblocktrans %} {% trans search_object %}</h3>

        <h5>{% blocktrans %}Number of {{ search_object }} is {{ objects_count }} {% endblocktrans %}</h5>
    </div>

    {% if books %}
        {% include "_book_list.html" %}
    {% endif %}

    {% if authors %}
        {% include "_author_list.html" %}
    {% endif %}

    {% if tags %}
        {% include "_tag_list.html" %}
    {% endif %}

    {% if series %}
        {% include "_series_list.html" %}
    {% endif %}

    {% if publishers %}
        {% include "_publisher_list.html" %}
    {% endif %}

    {% include "_pagination.html" %}
{% endblock %}
