{% extends "_base.html" %}

{% load filters %}

{% block content %}
    <div>
        <h3>Result for search by "{{ query_string }}"</h3>
    </div>

    {% if books %}
        {% include "_book_list.html" %}
    {% endif %}

    {% if authors %}
        {% include "_author_list.html" %}
    {% endif %}

    {% if tags %}
        {% include "_tag_list.html" %}
    {% endif %}

    {% if series %}
        {% include "_series_list.html" %}
    {% endif %}

    {% if publishers %}
        {% include "_publisher_list.html" %}
    {% endif %}

    {% include "_pagination.html" %}
{% endblock %}
