{% extends "_base.html" %}
{% load i18n %}

{% block content %}
    <table>
    <tr class="ml-2">
        <td>
            <b>{% blocktrans %}Book count:{% endblocktrans %}</b>
        </td>
        <td>
            {{ book_count }}
        </td>
    </tr>

    <tr>
        <td>
            <b>{% blocktrans %}Author count:{% endblocktrans %}</b>
        </td>
        <td>
            {{ author_count }}
        </td>
    </tr>

    <tr>
        <td>
            <b>{% blocktrans %}Tags count:{% endblocktrans %}</b>
        </td>
        <td>
            {{ tag_count }}
        </td>
    </tr>

    <tr>
        <td>
            <b>{% blocktrans %}Series count:{% endblocktrans %}</b>
        </td>
        <td>
            {{ series_count }}
        </td>
    </tr>

    <tr>
        <td>
            <b>{% blocktrans %}Publisher count:{% endblocktrans %}</b>
        </td>
        <td>
            {{ publisher_count }}
        </td>
    </tr>
    </table>
{% endblock %}
